@font-face{
    font-family: "FrizQuadrataC-BoldItalic";
    src: url(fonts/FrizQuadrataC-BoldItalic.otf);
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "FrizQuadrataC-Italic";
    src: url(fonts/FrizQuadrataC-Italic.otf);
    font-style: normal;
    font-display: swap;
}
.container{
    margin: 91px 141px;
    display: flex;
}
.nav-item {
    font-family: "FrizQuadrataC-Italic";
    color: #481D09;
    text-decoration: none;
    margin-right: 75px;
    font-size: 13px 
}
h2{
    font-family: "FrizQuadrataC-BoldItalic";
    color: #481D09;
    font-size: 32px
}
.pod{
    font-family: "FrizQuadrataC-Italic";
    color: #481D09;
    font-size: 19px
}
input::placeholder {
    font-family: "FrizQuadrataC-Italic";
    color: #481d099e;
    font-size: 19px
}
.logo{
    height: 71px;
    width: 94px;
}
.korzina{
    height: 44px;
    width: 44px;
}
.address{
    display: flex;
}
.address-item{
    margin-right: 30px;
}
.podd{
    height: 60px;
    width: 545px;
}